version: '3.8'

services:
  db:
    image: postgres
    container_name: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: groot
      POSTGRES_USER: root
      POSTGRES_DB: russian-stocks-prediction-ml-dl
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  moex_iss_indices:
    container_name: moex_iss_indices
    command: python3 ./moex_iss_indices/moex_iss_indices.py
    restart: always
    build:
      context: "."
      dockerfile: ./moex_iss_indices/Dockerfile
    volumes:
      - moex_iss_indices:/app/data


  moex_iss_dividends:
    container_name: moex_iss_dividends
    command: python3 ./moex_iss_dividends/moex_iss_dividends.py
    restart: always
    build:
      context: "."
      dockerfile: ./moex_iss_dividends/Dockerfile
    volumes:
      - moex_iss_dividends:/app/data


  cbrf_data:
    container_name: cbrf_data
    command: python3 ./cbrf_data/cbrf_data.py
    restart: always
    build:
      context: "."
      dockerfile: ./cbrf_data/Dockerfile
    volumes:
      - cbrf_data:/app/data

volumes:
  postgres_data:
  moex_iss_indices:
  moex_iss_dividends:
  cbrf_data:
