version: '3.8'

services:
  builder:
      build:
        context: .
        dockerfile: Dockerfile
      image: russian-stocks-prediction-ml-dl


  db:
    image: postgres
    container_name: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: groot
      POSTGRES_USER: root
      POSTGRES_DB: russian-stocks-prediction-ml-dl
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


  moex_iss_indices:
    container_name: moex_iss_indices
    command: uv run python ./scripts/moex_iss_indices/moex_iss_indices.py
    restart: always
    env_file:
      - .env
    image: russian-stocks-prediction-ml-dl


  moex_iss_dividends:
    container_name: moex_iss_dividends
    command: uv run python ./scripts/moex_iss_dividends/moex_iss_dividends.py
    restart: always
    env_file:
      - .env
    image: russian-stocks-prediction-ml-dl


  cbrf_data:
    container_name: cbrf_data
    command: uv run python ./scripts/cbrf/cbrf_data.py
    restart: always
    env_file:
      - .env
    image: russian-stocks-app


  t_pulse:
    container_name: t_pulse
    command: uv run python ./scripts/t-pulse/automatization/parse_tpulse_daily.py
    restart: always
    env_file:
      - .env
    image: russian-stocks-prediction-ml-dl


  tinkoff_stock:
    container_name: tinkoff_stock
    command: uv run python ./scripts/tinkoff/tinkoff_stock.py
    restart: always
    env_file:
      - .env
    image: russian-stocks-prediction-ml-dl


volumes:
  postgres_data:
